.about-window.hidden {
    display: none;
}

.about-window.visible {
    display: block;
}

.contact-window.hidden {
    display: none;
}

.contact-window.visible {
    display: block;
}

.text-window.hidden {
    display: none;
}

.text-window.visible {
    display: block;
}

.title-bar {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3px;

    width: 20rem;

    border: 3px solid #c5c2c6;

    background-image: linear-gradient(to right, #4262d3, #284ac4);
}
/*#4262d3*/
.title-bar-text {
    font-family: Terminux;
}

.button-exit-text {
    font-family: Terminux;
}

.btn-exit-window {
    float: right;
    border-radius: 0;

    padding-left: 2px;
    padding-right: 2px;

    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;

    background-color: #c5c2c6;

    cursor: pointer;
}

.btn-exit-window:active {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.main-window {
    position: absolute;

    width: 20.75rem;
    height: 20rem;

    background-color: #c5c2c6;
}

.main-window-small {
    position: absolute;

    width: 20.75rem;
    height: 11rem;

    background-color: #c5c2c6;
}


.main-a {
    cursor: pointer;
}

.about-text {
    margin-top: 2rem;
    padding-left: 5px;

    position: absolute;
    font-family: terminux;
}

.contact-text {
    margin-top: 2rem;
    padding-left: 5px;

    position: absolute;
    font-family: terminux;
}

.main-window-big {
    position: absolute;

    width: 30.75rem;
    height: 25rem;

    background-color: #c5c2c6;
}

.editor-text {
    margin-top: 1.9rem;
    margin-left: 0.2rem;

    position: absolute;
    font-family: terminux;

    width: 30.2rem;
    height: 22.65rem;

    background: none;

    resize: none;
}

.title-bar-big {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3px;

    width: 30rem;

    border: 3px solid #c5c2c6;

    background-image: linear-gradient(to right, #4262d3, #284ac4);
}